// ==========================================================================
// #DEFAULTS
// ========================================================================== 

//
// @link: https://css-tricks.com/rems-ems/
//

// 
// Font-sizes 
// ========================================================================== 

//
// Converts to em units.
//

$bare-fz-xs:					12px !default;
$bare-fz-s:						14px !default;
$bare-fz-m:						16px !default;
$bare-fz-l:						24px !default;
$bare-fz-xl:					36px !default;
$bare-fz-xxl:					42px !default;

// 
// Line-height
// ========================================================================== 

//
// Converts to em units.
//

$bare-lh-m:           			24px !default;

// 
// Spacing
// ========================================================================== 

//
// Converts to rem units.
//

$bare-sp-xs:			 		 6px !default;
$bare-sp-s:						12px !default;
$bare-sp-m:						24px !default;
$bare-sp-l:						48px !default;
$bare-sp-xl:					64px !default;

// 
// Breakpoints   
// ========================================================================== */

//
// Converts to em units.
//

$bare-bp-s:						 568px !default;
$bare-bp-m:						 768px !default;
$bare-bp-l:						1024px !default;
$bare-bp-xl:					1280px !default;  

// 
// Page   
// ========================================================================== */

//
// Prevent overstretching on wide displays.
//

$bare-page-max-width: 			1920px !default;
