// ==========================================================================
// #DEFAULTS
// ========================================================================== 

// 
// Namespace
// ========================================================================== 

$bare-ns:						"" !default;

// 
// Font-sizes 
// ========================================================================== 

//
// Converts into em.
//

$bare-fz-xs:					12px !default;
$bare-fz-s:						14px !default;
$bare-fz-m:						16px !default;
$bare-fz-l:						24px !default;
$bare-fz-xl:					36px !default;
$bare-fz-xxl:					42px !default;

// 
// Spacing
// ========================================================================== 

//
// Converts into rem.
//

$bare-sp-xs:		 	 		6px !default;
$bare-sp-s:						12px !default;
$bare-sp-m:						24px !default;
$bare-sp-l:						48px !default;
$bare-sp-xl:					72px !default;

// 
// #breakpoints   
// ========================================================================== */

//
// Converts into em.
//

$bare-bp-s:						568px !default;
$bare-bp-m:						768px !default;
$bare-bp-l:						1024px !default;
$bare-bp-xl:					1280px !default;  

// 
// #scaling   
// ========================================================================== */

//
// Amount to decrease text size by on smaller screens.
//

$bare-text-scale:				1.3 !default;